In [1]:
import pandas as pd
import xlsxwriter

In [2]:
path = 'D:\Deepika\Book.xlsx'

In [3]:
writer = pd.ExcelWriter(path,engine='xlsxwriter')

create any dataframe

In [6]:
df1

          Country   Region
0     Afghanistan     Asia
1         Albania   Europe
2         Algeria   Africa
3  American Samoa  Oceania
4         Andorra   Europe

Export to excel

In [7]:
df1.to_excel(writer,sheet_name='Details',index=False)

writer.save()